.container {
    margin-top: 150px;
    width: 80%;

}

.search {
    height: 27px;
}

.tableWrapper {
    max-height: 400px; /* Sesuaikan tinggi maksimal tabel */
    overflow-y: auto; /* Aktifkan scroll vertikal */
  }

th,td {
    vertical-align: middle;
}